.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("./pic/signup.webp") no-repeat center center/cover;
}

.bg {
    height: auto;
    width: auto;
    margin-top: 50px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(3px);
    text-align: center;
}

.bg .form-group {
    width: 15rem;
}

.bg .form-control {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #161515;
    outline: none;
}

.btn {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #161515;
    outline: none;
    background-color: #5b42a7;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #3f2a6e;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #161515 1px solid;
    padding-top: 0.5rem;
}

.or p {
    color: white;
    font-weight: bold;
}

.or .login {
    color: #3214de;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.5rem;
}